#body {


}

#navbar{
    background-color: #10243b;
    padding: 5px 0px;
}

#navbar a{
    color: white;
    padding: 0 8px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}

#maristlogo{
    height: 25px;
}

#searchimg{
    height: 25px;
}

#hero{
    background-image: url(images/graduation.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

#heroimg{
    position: relative;
    top: 140px;
    left: 50px;
}

#herotextdiv{
    position: relative;
    top: 5px;
    left: 220px;
}

/*------------------------- Explore CCHS ------------------------------------*/

#explorecchs{
    height: 400px;
    width: 100vw;
    background-color: blue;
}

#exploreheader{
    height: 80px;
    width: 100vw;
    background-color: blueviolet;
    text-align: center;
}

#exploresection{
    height: 320px;
    width: 100vw;
    background-color: aqua;
}

.explorebox{
    display: inline-block;
    height: 290px;
    width: 24.5%;
    background-color: chartreuse;
}

#hurricane{
    background-image: url(images/patriots\ plaza.jpg);
    background-size: center;
}




