#body {


}

#navbar{
    background-color: #10243b;
    padding: 5px 0px;
}

#navbar a{
    color: white;
    padding: 0 8px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}

#maristlogo{
    height: 25px;
}

#searchimg{
    height: 25px;
}

#hero{
    background-image: url(images/graduation.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

#heroimg{
    position: relative;
    top: 140px;
    left: 50px;
}

#herotextdiv{
    position: relative;
    top: 5px;
    left: 220px;
}

/*------------------------- Explore CCHS ------------------------------------*/

#explorecchs{
    height: 400px;
    width: 100vw;
    background-color: blue;
}

#exploreheader{
    height: 80px;
    width: 100vw;
    background-color:  #10243b;
    text-align: center;
}

#exploresection{
    height: 320px;
    width: 100vw;
    background-color: aqua;
}

.explorebox{
    display: inline-block;
    height: 290px;
    width: 24.5%;
    background-color: chartreuse;
}

#hurricane{
    background-image: url(images/patriots\ plaza.jpg);
    background-size: cover;
    background-position: center;
}

#guidance{
    background-image: url(images/college.png);
    background-size: cover;
    background-position: center;
}

#ccnn{
    background-image: url(images/ccnn.jpg);
    background-size: cover;
    background-position: center;
}

#media{
    background-image: url(images/ccnn\ live.png);
    background-size: cover;
    background-position: center;
}

/*--------------------------- CCHS AT A GLANCE---------------*/

#CCHSATGLANCE{
    height: 400px;
    width: 100vw;
    background-color: white;
}

#GLANCEHEADER{
    height: 80px;
    width: 100vw;
    background-color:  white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#glancesection{
    height: 320px;
    width: 100vw;
    background-color: white;
}

.glancebox{
    display: inline-block;
    height: 280px;
    width: 24.5%;
    background-color: chartreuse;
}

#money{
    background-image: url(images/carosel\ money.jpg);
    background-size: cover;
    background-position: center;
}

#graduation{
    background-image: url(images/grad.jpg);
    background-size: cover;
    background-position: center;
}

#book{
    background-image: url(images/book.jpg);
    background-size: contain;
    background-position: center;
}

#teacher{
    background-image: url(images/carosel\ teaching.jpg);
    background-size: cover;
    background-position: center;
}




